@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,400;12..72,700;12..72,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

@font-face {
    font-family: 'plant';
    src: url('../assets/font/plant.otf');
}

:root{
    --font-title: 'plant', sans-serif;
    --font-padrão: 'Poppins', sans-serif;

    --color-primary: #f0cb94;
    --color-secundary: #00a878;
    --color-tertiary: #4A4238;
    --color-details: #CEFF1A;

    --text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.358);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrão);
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

header {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.683);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(2px);
    padding: 20px 50px;
}

div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

div.logo img{
    width: 30px;
}

div.logo span {
    align-self: center;
    font-family: var(--font-title);
    color: var(--color-tertiary);
    font-size: 2em;
    text-shadow: var(--text-shadow);
}

i#burger {
    display: none;
}

.nav-container ul {
    display: flex;
}

.nav-container ul li a{
    color: var(--color-tertiary);
    padding: 10px 15px;
    font-size: 1.2em;
    text-shadow: var(--text-shadow);
    opacity: 0.9;
}

.nav-container ul li a:hover {
    opacity: 1;
    border: 2px solid #4A4238;
    border-radius: 10px;
}

.nav-container ul li:first-child {
    padding-left: 0;
}
.nav-container ul li:last-child {
    padding-right: 0;
}

.hero {
    background: url('../img/fachada2.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.hero h3 {
    padding: 0 30px;
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 3px 1px #000000;
}

.about {
    padding: 30px;
    color: var(--color-tertiary);
}

.about h2 {
    font-family: var(--font-title);
    font-size: 3em;
    text-align: center;
    margin: 40px 0;
    color: var(--color-tertiary);
    text-shadow: var(--text-shadow);
}

.about p {
    max-width: 800px;
    margin: auto;
    text-indent: 20px;
    text-align: justify;
    line-height: 2.3em;
    padding-bottom: 10px;
}

.about p:last-child {
    padding-bottom: 0;
}

.about hr {
    width: 200px;
    margin: 80px auto;
    border: 1px solid #4A4238;
}

.container {
    position: relative;
    background-color: #ddd;
    min-height: 100vh;
}

.container h3 {
    font-size: 2.5em;
    font-family: var(--font-title);
    padding: 20px;
    color: var(--color-tertiary);
    text-shadow: var(--text-shadow);
    text-align: center;
}

.container .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container .image-container .image {
    height: 250px;
    width: 350px;
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
}

.container .image-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.container .image-container .image img:hover {
    transform: scale(1.1);
}

.container .popup-img {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container .popup-img span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.container .popup-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 400px;
    object-fit: cover;
}

.char-container {
    max-width: 80%;
    margin: auto;
}

.char-container h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: var(--font-title);
    font-size: 3em;
    color: var(--color-tertiary);
    text-shadow: var(--text-shadow);
}

.character {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

.character i {
    font-size: 2em;
    padding-top: 30px;
    color: var(--color-tertiary);
    text-shadow: var(--text-shadow);
    cursor: pointer;
}

.character li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 200px;
    height: 200px;
    color: var(--color-tertiary);
    text-shadow: var(--text-shadow);
    cursor: pointer;
    border: 1px solid #4A4238;
    border-radius: 4px;
}

.contact {
    background-color: #ddd;
    width: 100%;
    padding: 40px;
    margin-top: 50px;
}

.contact-container {
    max-width: 1000px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: #ffffff;
    box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
    border-radius: 0.5rem;
    overflow: hidden;
}

.form-container {
    padding: 20px;
}

.form-container h3 {
    font-size: 2rem;
    font-family: var(--font-title);
    font-weight: bolder;
    margin-bottom: 1rem;
    color: var(--color-tertiary);
}

.contact-form {
    display: grid;
    row-gap: 1rem;
}

.contact-form input, .contact-form textarea{
    border: 1px solid #4A4238;
    width: 88.8%;
    outline: none;
    padding: 10px;
    font-size: 0.9rem;
    color: var(--color-tertiary);
    border-radius: 0.4rem;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form .send-btn {
    border: none;
    outline: none;
    color: white;
    background-color: var(--color-tertiary);
    font-family: var(--font-padrão);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    opacity: 0.9;
}

.contact-form .send-btn:hover {
    opacity: 1;
    transition: 0.3s all linear;
}

.map iframe {
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    font-size: 1em;
    padding: 15px;
    color: var(--color-tertiary);
    text-shadow: var(--text-shadow);
}

footer a {
    color: var(--color-tertiary);
    opacity: 0.9;
}

footer a:hover {
    opacity: 1;
}

@media (max-width: 964px) {
    .contact-container {
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    div.logo {
        padding-bottom: 20px;
    }

    .hero h3 {
        padding: 100px 30px 0 30px;
    }

    .container .popup-img img {
        width: 100%;
    }

    .char-container {
        margin-bottom: 40px;
    }
    
    .character {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contact {
        margin: 0;
    }

    .contact-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 0 !important;
    }
    .map iframe {
        height: 400px;
    }
}

@media (max-width: 548px) {
    i#burger {
        display: block;
        cursor: pointer;
        font-size: 1.5em;
        color: var(--color-tertiary);
        margin: 10px 0;
    }

    #menu {
        display: none;
    }

    #menu ul{
        align-items: center;
        gap: 25px;
        flex-direction: column;
    }

    .nav-container ul li a:hover {
        border: none;
    }
}